CompileFlags:
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wunused-variable
    - -Wunused-parameter
    - -Wunused-function
    # - -Wsign-compare
    # - -Wconversion
    - -Wshadow
    - -Wno-keyword-macro
    - -I/lib/ac-library

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: Relaxed
  MissingIncludes: Relaxed
  Suppress:
    - missing-includes
    - Wvla-cxx-extension


